:root
{
    --size-of-words: 19px;
    --border-curve: 12px;
}

p 
{
	text-align: center;
}

html, body 
{
	height: 100%;
	margin: 0;
	padding: 0;
}

body 
{
    background-image: url("https://www.muralswallpaper.co.uk/app/uploads/dark-blue-grunge-cement-wall-mural-texture-plain.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hiki_logo
{
	width: 15%;
	height: 15%;
	margin: 1%;
	border: black;
	border-size: 10px;
}

ul 
{
    list-style-type: none;
    margin: 1%;
    padding: 0;
    width: 15%;
    background-color: #000;
    position: fixed;
    height: 75%;
    overflow: auto;
	border: none;
	border-radius: var(--border-curve);
	
}

li a
{
    display: block;
    color: #fff;
    padding: 16px 16px;
    text-decoration: none;
	text-align: center;
	font-size: var(--size-of-words);
	
}

li a:hover
{
    background-color: #333;
    color: white;
}

.main_space
{
    font-size: var(--size-of-words);	
    background-color: #fff;
	margin: 1%;
    width: 82%;
	position: fixed;
	border: none;
	border-radius: var(--border-curve);
	top: 20%;
	left: 16%;
}

.dropdown-content {
    display: none;
    position: absolute;
    border: none;
    border-radius: var(--border-curve);
    background-color: #111;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #222;
    border: none;
    border-radius: var(--border-curve);}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #333;
} 
