.hidden
{
    display: none;
}

div 
{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

html, body 
{
	height: 100%;
	margin: 0;
	padding: 0;
}

body 
{
    background-image: url(./galaxy.jpg);
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.button
{
	text-align: center;
	transform: translate(-50%, 150%);	
}
